@font-face {
    font-family: "Skorzhen";
    src: url('skorzhen.ttf');
}

body {
    --font-h1: "Skorzhen", "Modesto Condensed", serif;
    --font-h6: "Skorzhen", "Modesto Condensed", serif;
}

body.auth #main-header h1 {
    font-variant-caps: small-caps;
    font-weight: 500;
}